.containerLogin{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.codContainer {
  background: #919090;
  width: 23.75em;
  border-radius: 0.625em;
  overflow: hidden; 
}
.formHeader{
  background: var(--bg-header);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875em 0 2.5em;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
}
.formHeader img {
  vertical-align: top;
  width: 2.5em;
}
.formHeader h1 {
  color: #fff;
  font-family: AbeeZee;
  font-weight: normal;
  margin-top: 0.3125em;
}

.formHeader span {
  color: var(--bg-orange);
}
.containerForm {
  padding: 0.625em 2.5em 2.5em;
}

.formTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2em;
  overflow: hidden;
  font-family: AbeeZee;
  color: var(--bg-orange);
  text-shadow: -1px -1px 0 black,
  0 -1px 0 var(--bg-header-footer), 1px -1px 0 var(--bg-header-footer),
  1px 0 0 var(--bg-header-footer), 1px 1px 0 var(--bg-header-footer),
  0 1px 0 var(--bg-header-footer), -1px 1px 0 var(--bg-header-footer),
  -1px 0 0 var(--bg-header-footer);
}

h3 {
  position: relative;
  display: inline-block;
  color: var(--bg-orange);
  padding: 0 0.625+em;
}

h3::after,
h3::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.1875em;
  background: var(--bg-header);
  top: 0.5em;
}

h3::after {
  left: 100%;
}

h3::before {
  right: 100%;
}


.formInput{
  height: 1.2rem;
  width: 100%;
}

.btnForm{
  background: var(--bg-header) ;
  color: white;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
}
