.cod-container {
    background: #919090;
    width: 23.75em;
    border-radius: 0.625em;
    overflow: hidden;
    
}

.form-header {
    background: #021e26;
    text-align: center;
    padding: 1.875em 0 2.5em;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
}

.form-header img {
    vertical-align: top;
    width: 2.5em;
}

.form-header h1 {
    color: #fff;
    font-family: AbeeZee;
    font-weight: normal;
    margin-top: 0.3125em;
}

.form-header span {
    color: #FF3D00;
}

.cod-form {
    padding: 0.625em 2.5em 2.5em;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 2em;
    overflow: hidden;
    font-family: AbeeZee;
    color: #FF3D00;

}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 3px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}

h3 {
    position: relative;
    display: inline-block;
    color: #FF3D00;
    padding: 0 0.625+em;
}

h3::after,
h3::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.1875em;
    background: #021e26;
    top: 0.5em;
}

h3::after {
    left: 100%;
}

h3::before {
    right: 100%;
}


.cod-form {
    width: 100%;
    height: auto;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 2.5em;
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 0.125em solid #021e26;
    width: 100%;
    height: 1.5625em;
    outline: none;
    font-size: 0.875em;
    color: #021e26;
    padding-left: 0.625em;
    font-family: AbeeZee;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.875em;
    color: #FF3D00;
    padding-left: 0.625em;
    cursor: text;
    transition: all .3s ease;
    font-family: AbeeZee;
}

.form-input:focus + label {
    top: -0.875em;
    font-size: 0.75em;
    color: #666565;
    font-family: AbeeZee;
}

.active {
    top: -0.875em;
    font-size: 0.75em;
    color: #666565;

}

.error {
    color: #FF0000;
}

input[type="submit"] {
    background: none;
    border: none;
    background: #FF3D00;
    color: #fff;
    width: 100%;
    font-size: 0.875em;
    padding: 0.625em 0;
    font-family: AbeeZee;
    margin-bottom: 1em;
    border-radius: 0.625em;
    transition: all .5s ease;
}

input[type="submit"]:hover {
    background: #021E26;
}

.input-group > p {
    color: #FF3D00;
    text-align: center;
    font-size: 0.875em;
    font-family: AbeeZee;
}

.input-group p > a {
    text-decoration: none;
    color: #039BE5;
}

.input-group p > a:hover {
    text-decoration: underline;
}

.form-content {
    display: none;
}

.form-content:nth-child(2) {
    display: block;
}