@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header-footer: #341100;
  --bg-header: #021e26;
  --bg-orange: #FF3D00;
  --bg-btn: #643C23;
  --border-txt-title: #996B42;
  --txt-cards: #FFFFFF;
  --text-color-nav: #DBB6EE;

}

html,
body, main, #root {
  width: auto;
  height: 100%;
  

}